/public/storage
/public/hot
/public/profilepics/*
/public/profilepics_13/*
/public/profilepics_13_2/*
/public/com_images/*
node_modules
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
*.rdb